# MySQL
MYSQL_ROOT_PASSWORD=root123456
MYSQL_DATABASE=vitaelens
MYSQL_USER=vitaelens
MYSQL_PASSWORD=vitaelens123

# AI
AI_BASE_URL=https://****
AI_API_KEY=my-api-key
AI_MODEL=my-ai-model

# JWT
JWT_SECRET=jwt-secret